

<nav class="container navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href={{"/" | relative_url}}>Collection: Quotes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/" | relative_url}}
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"//library-collections.yeahgames.net/quotes" | relative_url}} >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"https://yeahgames.net" | relative_url}} >Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"https://library.yeahgames.net" | relative_url}} >Main library</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="//x.yeahgames.net/archives/collections/quotes/submit">Submit a quote!</a>
          <a class="dropdown-item" href="//x.yeahgames.net/archives/collections/quotes/archive">Archive a quote!</a>
          <a class="dropdown-item" href="//x.yeahgames.net/archives/collections/start">Work on this collection!</a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            target="_blank"
            href="https://x.yeahgames.net/inquiry/library/quotes?subject='null'&src='header'"
            >Contact/inquiry</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
